extends layout

block content
  section(class="flex flex-col gap-4 items-center justify-center font-bold text-xs font-serif h-full")
    h2(class="")= message
    //- ||
    //- h3(class="")= error.status
    //- p= error
    
    //- pre #{error.stack}
