extends layout

block content
  h2= title
  hr
  
  p 
    strong You need to log in to create messages.
  p 
    strong Anonymous users have read-only access to the site.
  hr

  div(class="")
    form(method="post") 
      div(class="")
        label(for="username" class="block") Username 
        input(id="username" name="username" type="text" placeholder="username" )

      div(class="")
        label(for="password" class="block") Password 
        input(id="password" name="password" type="password" placeholder="super secret password")

      div(class="")
        button(type="submit") Login 
  
  div(class="")
    p Don't have an account? 
      a(href="/signup" class="text-sky-500") Sign up 
      | now.  
      
  if messages
    ul
      each mess in messages 
        li!= mess
      
